/* here you can put your own css to customize and override the theme */
/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

@charset "utf-8";

@font-face{
    font-family:'NanumGothicWeb';
    font-style:normal;
    font-weight:normal;
    src:url('/resources/assets/global/fonts/NanumGothic.eot');
    src:local('☺'),url('/resources/assets/global/fonts/NanumGothic.woff') format('woff')
}

body { font-family: 'NanumGothicWeb'; }